@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #01080e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #01080e;
    --foreground: #ededed;
  }
}

@theme {
  --color-amarelo: #FFA000;
  --color-verde: #0F725C;
  --color-branco: #EDEDED;
  --color-preto: #1e1e1e;
  --color-azul: #041832;
}

@theme inline {
  --font-exo2: var(--font-exo-2-sans);
  --font-montserrat: var(--font-montserrat-sans);
}

@layer utilities {
  .bg-global {
    background: #041832;
    background: linear-gradient(180deg, rgba(4, 24, 50, 1) 0%, #01080e 100%);
  }

  .glass {
    background: #cecece26;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
  }

}


.cardCoin::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ffffff11;
  position: absolute;
  bottom: -8px;
}

.benefits__list--item::before {
  content: '';
  width: 2px;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  display: block;
  top: 0;
  /* background-color: #009474; */
  background-color: #c5aa0f;
}

.testimonials {
  padding-top: 3em !important;
}


/* Swiper Styles */


.swiper-pagination {
  position: relative !important;
  margin-top: 2em !important;
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  background: #cbcbcb !important;
}

.swiper-pagination-bullet-active {
  background-color: #facc15 !important;
}

.swiper-slide {
  height: auto !important;
  background-color: #cecece26;
}

.swiper-slide-active {
  background-color: #cecece26;
}

.swiper-slide-shadow-right {
  background-image: linear-gradient(to left, #cecece26, #00000000) !important;
  border-radius: 10px;
}

.swiper-slide-shadow-left {
  background-image: linear-gradient(to right, #cecece26, #00000000) !important;
  border-radius: 10px;
}